<!doctype html>
<html>
   <head>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
             </head>
                <body>
                    <form action="/reset">
                            Welcome to the Excel grader web version. 
                                             <br>  <br> <input type="submit" value="Start the grading process" />
                                                 </form>
                                                    </body>
                                                    </html>
